:root {
  --background: #323232;
  --accent-background: #212121;
  --footer-text: #5a5a5a;
  --divider-color: #575757;
  --switch-color: #3b3b3b;
  --contrast-color: #14FFEC;
  --accent-color: #5cfff1;
  --weak-accent-color: #b9fff9;
  --text-color: white;
  --navbar-color: #0D7377;
  --footer-highlight: #2eb3a7;
}


/****************************** DEFAULTS *******************************/

body {
  background-color: var(--background);
  margin: 0;
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: var(--contrast-color);

}

h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: var(--accent-color);

}
h3 {
  font-size: 2rem;
  font-family: 'Exo', sans-serif;
  color: var(--weak-accent-color);

}

p {
  font-size: 1.25rem;
}


/****************************** CLASSES *******************************/

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--navbar-color);
  min-height: 5vh;
  width: 100vw;
}

.navbar p {
  margin: auto 4rem;
  cursor: pointer;
  color: var(--text-color);
}

.switch {
  background-color: var(--switch-color);
  position: absolute;
  right: clamp(20px, 5vw, 50px);
  width: 3em;
  height: 1.5em;
  border-radius: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch p {
  margin: 0;
  font-size: 0.8rem;
}



/****************************** HEADER *******************************/

.app-header {
  max-height: 100vh;
  display: flex;
  margin-top: 5vh;
  padding: 10vh 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-background);
}

.app-header h1 {
  margin-top: 0;
}

.app-header img{
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  border: solid var(--contrast-color) 5px ;
}

/****************************** INFO *******************************/

.info {
  margin: 10vh 0;
}

.my-hr {
  font-family: 'Caveat', cursive;
  font-size: 2em;
  color: var(--divider-color);
  text-align: center;
  cursor: default;
}

.about-paragraph{
  min-height: 20vh;
  margin: 0 auto 10vh;
  width: 60%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.about-paragraph h2 {
  margin-top: 0;
}

.about-paragraph p {
  margin: 0;
  text-align: center;
  color: var(--text-color);
}

.skills {
  margin: 0;
  min-height: 20vh;
  color: var(--text-color);
  background-color: var(--background);
  line-height: 2;
}

.skills h2 {
  padding-top: 5vh;
  margin-top: 0;
}


.programming {
  width: 60%;
  margin: 5vh auto 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.programming img{
  height: 200px;
  margin-right: 5%;
  float: left;
}

.programming div {
  text-align: center;
}

.programming h3 {
  margin: 1vh;
}

.gamedev {
  width: 60%;
  margin: 5vh auto 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gamedev img{
  order: 2;
  height: 200px;
  margin-left: 5%;
  float: right;
}

.gamedev div {
  text-align: center;
}

.gamedev h3 {
  margin: 1vh;
}

/****************************** CONTACT *******************************/

.contact {
  min-height: 20vh;
  margin: 0 auto;
  width: 60%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.contact p {
  margin: 0;
  text-align: center;
  color: var(--text-color);

}

.contact div {
  display: flex;
  justify-content: center;
}

.contact img {
  height: 50px;
  margin: 2vh 2vw;
}

.mail {
  background-color: var(--accent-background);
  margin: 4vh auto 0;
  padding: 0.5em 1em;
  width: 8em;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
  border: solid var(--contrast-color) 5px;
  border-radius: 10px;
  font-size: 1.2em;
}

/****************************** FOOTER *******************************/

.footer {
  margin-bottom: 0;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
  background-color: var(--accent-background);
  color: var(--footer-text);
}

.footer h4{
  margin: 1vh auto 0;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1vh;
}
.footer span {
  color: var(--footer-highlight);
}