/****************************** DEFAULTS *******************************/

body {
  background-color: #323232;
  margin: 0;
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: #14FFEC;

}

h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: #5cfff1;

}
h3 {
  font-size: 2rem;
  font-family: 'Exo', sans-serif;
  color: #b9fff9;

}

p {
  font-size: 1.25rem;
}


/****************************** CLASSES *******************************/

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #0D7377;
  min-height: 5vh;
  width: 100vw;
}

.navbar p {
  margin: auto 4rem;
  cursor: pointer;
  color: white;
}

/****************************** HEADER *******************************/

.app-header {
  max-height: 100vh;
  display: flex;
  margin-top: 5vh;
  padding: 10vh 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.app-header h1 {
  margin-top: 0;
}

.app-header img{
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  border: solid #14FFEC 5px ;
}

/****************************** INFO *******************************/

.info {
  margin: 10vh 0;
}

.my-hr {
  font-family: 'Caveat', cursive;
  font-size: 2em;
  color: #575757;
  text-align: center;
  cursor: default;
}

.about-paragraph{
  min-height: 20vh;
  margin: 0 auto;
  width: 60%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.about-paragraph h2 {
  margin-top: 0;
}

.about-paragraph p {
  margin: 0;
  text-align: center;
  color: white;
}

.skills {
  margin: 0;
  min-height: 20vh;
  color: white;
  background-color: #323232;
  line-height: 2;
}

.skills h2 {
  padding-top: 5vh;
  margin-top: 0;
}


.programming {
  width: 60%;
  margin: 5vh auto 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.programming img{
  height: 200px;
  margin-right: 5%;
  float: left;
}

.programming div {
  text-align: center;
}

.programming h3 {
  margin: 1vh;
}

.gamedev {
  width: 60%;
  margin: 5vh auto 0;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gamedev img{
  order: 2;
  height: 200px;
  margin-left: 5%;
  float: right;
}

.gamedev div {
  text-align: center;
}

.gamedev h3 {
  margin: 1vh;
}

/****************************** CONTACT *******************************/

.contact {
  min-height: 20vh;
  margin: 0 auto;
  width: 60%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.contact p {
  margin: 0;
  text-align: center;
  color: white;

}

.contact div {
  display: flex;
  justify-content: center;
}

.contact img {
  height: 50px;
  margin: 2vh 2vw;
}

.mail {
  background-color: #212121;
  margin: 4vh auto 0;
  padding: 0.5em 1em;
  width: 8em;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  border: solid #14FFEC 5px;
  border-radius: 10px;
  font-size: 1.2em;
}

/****************************** FOOTER *******************************/

.footer {
  margin-bottom: 0;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
  background-color: #212121;
  color: #5a5a5a;
}

.footer h4{
  margin: 1vh auto 0;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1vh;
}
.footer span {
  color: #2eb3a7;
}